<div class="card mb-2">
  <img [src]="product.imageUrl" class="card-img-top" [alt]="product.title" />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">
      {{ product.price | currencyFormat: "NGN":true }}
    </p>
  </div>
  <div class="card-footer text-center" *ngIf="showActions && shoppingCart">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQty"
      (click)="addToCart()"
      class="btn btn-secondary"
    >
      Add to Cart
    </button>
    <ng-template #updateQty>
      <product-quantity
        [product]="product"
        [shopping-cart]="shoppingCart"
      ></product-quantity>
    </ng-template>
  </div>
</div>
