<div class="mt-3 mb-3">
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</div>

<div class="mb-3">
  <input
    type="text"
    #query
    (keyup)="filter(query.value)"
    class="form-control"
    placeholder="Search..."
  />
</div>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
>
  <data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
  ></data-table-column>
  <data-table-column
    [property]="'price'"
    [header]="'Price'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.price | currencyFormat }}
    </ng-template>
  </data-table-column>

  <data-table-column [property]="'$key'">
    <ng-template #dataTableCell let-item="item">
      <a
        [routerLink]="['/admin/products/', item.key]"
        class="btn btn-light btn-sm"
        ><i class="fas fa-pencil-alt"></i> Edit</a
      >
    </ng-template>
  </data-table-column>
</data-table>

<!-- <table class="table table-inverse table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td scope="row">{{ product.title }}</td>
      <td>{{ product.price | currencyFormat }}</td>
      <td>
        <a
          [routerLink]="['/admin/products/', product.key]"
          class="btn btn-light btn-sm"
          ><i class="fas fa-pencil-alt"></i> Edit</a
        >
      </td>
    </tr>
  </tbody>
</table> -->
